body {
    margin: 0px;
    padding: 10px;
    font-family: Tahoma;
    background-color: azure;
    max-width: 400px;
    max-height: 500px;
    overflow: scroll;
    text-transform: capitalize;
}

.contant {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    /*,*/
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .contant {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .contant {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .contant {
        width: 1170px;
    }
}


h1 {
    color: #555;
    user-select: none;
}

@media (max-width: 767px) {
    h1 {
        font-size: 25.5px;
    }
}

#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    color: green;
    text-align: center;
}

#input-btn {
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 11px;
    margin-top: 10px;
    border: none;
}

#all-btn {
    background-color: gold;
    color: white;
    font-weight: bolder;
    padding: 11px;
    margin-top: 10px;
    border: none;
    display: none;
}

#delete-btn {
    background-color: #ce2a2a;
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ce2a2a;
}

#store-el {
    width: 100%;
    padding: 0;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #111;
    background-color: #f0eddf;
    list-style-type: none;
    margin-top: 60px;
    font-size: 30px;
}

#store-el li {
    color: #00f;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #111;
    border-left: 1px solid #111;
}

@media (max-width: 767px) {
    #store-el li {
        border: none;
    }
}